<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SodaVendingMachineContext"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
         Initial Catalog=SodaVendingMachine;
         Integrated Security=true;
         AttachDbFilename=|DataDirectory|\SodaVendingMachine.mdf" />
  </connectionStrings>
</configuration>